body {
    background:#849d8f;
    margin: 0 auto;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    color: #000000;
}

.content-wrapper {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.main-header{
    position: relative;
}

.logo-header{
    width: 154px;
    float: left;
    margin-top: 10px;
}

.main-nav {
    float: left;
    min-width: 616px;
    margin-left: 23px;
    margin-top: 24px;
}

.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu > li {
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    line-height: 22px;
    vertical-align: top;
}

.main-nav a {
    display: block;
    padding: 5px 14px;
    text-decoration-color: #ffffff;
    color: #ffffff;
}

.main-menu > li > a:hover {
    background: #f7f6f2;
    color: #000000;
    text-decoration: none;
    border-radius: 16px;

}

.main-menu > li > a:active {
    background: #f8f7f4;
    color: #000000;
    text-decoration: none;
    border-radius: 16px;
    box-shadow: inset 0 1px 2px #696969;
}

.main-menu > .opened {
    background: #d07058;
    color: #ffffff;
    border-radius: 16px;
    text-decoration: none;
}

.main-menu > .opened a {
    text-decoration: none;
}

.main-nav .sub-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 145px;
    bottom: -187px;
    left: -2px;
    color: #000000;
    padding-top: 6px;
    z-index: 10;
}

.main-nav .sub-menu {
    display: none;
}

.main-menu > li:hover .sub-menu {
    display: block;

}

.main-nav .sub-menu li:first-child {
    border-radius: 6px 6px 0 0;
}

.main-nav .sub-menu li:last-child {
    border-radius: 0 0 6px 6px;
}

.main-nav .sub-menu li {
    margin: 0;
    color: #000000;
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    background: #ffffff;
}

.main-nav .sub-menu a {
    margin: 0 7px;
    padding: 9px 14px;
    padding-right: 0;
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
}

.main-nav .sub-menu li:first-child a {
    border-bottom: 1px solid #343434;
    font-weight: bold;
}

.main-menu .sub-menu  li:hover {
    background: #fbded7;
    color: #000000;
    text-decoration: none;
    border-radius: 0;
}

.main-nav .sub-menu li:first-child:hover {
    border-radius: 6px 6px 0 0;
}

.main-nav .sub-menu li:last-child:hover {
    border-radius: 0 0 6px 6px;
}

.main-menu .sub-menu  li:active {
    background: #f6b5a5;
}

.main-menu .sub-menu .active {
    background: #f6b5a5;
}

.sub-menu .current {
	background: #d07058;
}

.btn {
    padding: 12px 20px;
    color: #ffffff;
    background: linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0 2px 5px 0 rgba(172, 16, 0, 0.7);
    border-radius: 40px;

    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.7);
    cursor: pointer;
    outline: none;
    border: none;
}

.btn:hover {
    background: #f17d65;
    text-shadow: none;
}

.btn:active {
    background: linear-gradient(to top, #f26843, #e74a35);
    box-shadow: inset 0 2px 2px 0 rgba(172, 16, 0, 0.7);
}

.user-block {
    float: right;
    margin-top: 24px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    position: relative;
}


.search-field {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    font-size: 0;
}

.search-field input[type="text"] {
    position: absolute;
    top: 36px;
    right: 205px;
    width: 343px;
    height: 70px;
    border-radius: 4px;
    display: none;
}

.search-field .search-icon {
    
}

.search-field input[type="submit"] {
    position: relative;
    width: 33px;
    height: 33px;
    outline: none;
    border: 0;
    background: url("../img/spritesheet.png") no-repeat center;
    background-position: -277px -154px;
    border-radius: 50%;
    vertical-align: top;
}

.search-field input[type="submit"]:hover {
    background: #f8f7f4 url("../img/spritesheets.png") no-repeat center;
    background-position: 9px -106px;
}

.search-field input[type="submit"]:focus input[type="text"] {
    display: inline-block;
}


.user-block .login,
.user-block .basket {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    padding: 7px 15px;
    padding-left: 44px;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
}

.user-block .login::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 19px;
    left: 15px;
    top: 6px;
    background: url("../img/spritesheets.png") no-repeat center;
    background-position: 0 -37px;
}

.user-block .basket::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 19px;
    left: 15px;
    top: 6px;
    background: url("../img/spritesheets.png") no-repeat center;
    background-position: 0 -76px;
}

.user-block .login:hover,
.user-block .basket:hover {
    background: #f8f7f4;
    color: #000000;
}

.user-block .login:hover::before {
    background: url("../img/spritesheets.png") no-repeat center;
    background-position: 0 -153px;
}

.user-block .basket:hover::before {
    background: url("../img/spritesheets.png") no-repeat center;
    background-position: 0 -192px;
}

.main-header .contacts {
    position: absolute;
	z-index: 20;
	
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-align: right;
    font-weight: 700;
    right: 0;
    bottom: -40px;
}

.main-header .contacts-phone {
    font-size: 22px;

}
/** слайдер стиль **/

body > input[type="radio"] {
    display: none;
}


.site-wrapper {
    min-width: 1200px;
    background: #849d8f url("../img/slide1.jpg") no-repeat top center;

    transition: background-image 0.5s ease,
        background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";

    visibility: hidden;
}

.site-wrapper::before,
.site-wrapper::after {
    background-image: url("../img/slide2.jpg");
}

.site-wrapper::before,
.site-wrapper::after {
    background-image: url("../img/slide3.jpg");
}

.slider {
    position: relative;

    padding-top: 272px;

    color: #ffffff;
    text-align: center;
}

.slide {
    display: none;
}

.slide-title {
    width: 710px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 800;
    font-size: 60px;
}

.slide-btn {
    display: inline-block;
    padding: 12px 50px;
    margin-bottom: 40px;

    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -moz-linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
    background: -moz-linear-gradient(top, #f58666 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58666 0%, #ec6f5e 100%);
    background: -moz-linear-gradient(to bottom, #f58666 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
    background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -moz-linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
    position: absolute;
    bottom: 25px;
    left: 0;
    z-index: 20;

    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 20px;

    vertical-align: top;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label:hover {
    background: rgba(178, 193, 183, 0.4);
}

.slider-controls label:active {
    background: #ffffff;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

#btn-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slide1.jpg");
}



#btn-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slide2.jpg");
}

#btn-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slide3.jpg");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
    background-color: #ffffff;
}

/** конец слайдер стиль **/

.offers {
    position: relative;
    margin-bottom: 35px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 18px;
    line-height: 24px;
}

.offers-left {
    position: relative;
    float: left;
    width: 520px;
    min-height: 191px;
    padding: 20px;
    margin-right: 26px;
    background: #fecbe0 url("../img/offers-image1.jpg") no-repeat 50%;
    border-radius: 15px;
}

.offers-right {
    position: relative;
    float: left;
    width: 520px;
    min-height: 191px;
    padding: 20px;
    background: #3c241a url("../img/offers-image2.jpg") no-repeat 50%;
    border-radius: 15px;
}

.offers h3 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    text-align: left;
    margin-bottom: 15px;
}

.offers-right p,
.offers-left p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 45px;
}

.offers .btn-offer {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.catalog-list {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
}

.catalog-list li{
    position: relative;
    display: inline-block;
    width: 267px;

    margin: 0;
    margin-bottom: 38px;
    margin-right: 26px;

    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    vertical-align: top;
}

.catalog-list li:nth-child(4n) {
    margin-right: 0;
}

.catalog-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    z-index: 10;
    background: url("../img/hit-icon.jpg") no-repeat 50%;
    border-radius: 50%;
}

.catalog-list .goods-image {
    position: relative;
}

.catalog-list .goods-image img {

    width: 257px;
    height: 257px;

    text-align: center;
    border-radius: 50%;
    vertical-align: top;
}

.catalog-list li p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
  }

.catalog-list a {
    color: #ffffff;
}


.catalog-list .price {
    position: relative;
    top: -27px;
    display: block;
    color: #ffffff;
    font-size: 45px;
    font-weight: bold;
    line-height:13px;
    padding-right: 90px;
    text-shadow: 1px 1px grey;
    vertical-align: bottom;


}

.catalog-list li .price::after {
    position: absolute;
    content: " ";
    width: 69px;
    height: 45px;
    left: 80px;
    top: -18px;
    font-size: 30px;
    background: url("../img/spritesheet.png") no-repeat center;
    background-position: -72px -12px;
    vertical-align: bottom;
}

.catalog-list li .price span {
    position: absolute;
    left: 110px;
    top: 5px;
    font-size: 30px;
}

.catalog-list .btn {
    display: none;
}

.goods-hover {
    padding: 10px 5px;

}

.catalog-list li:hover  .goods-hover {
    position: absolute;
    z-index: 20;

    background: rgba(248, 247, 244, 0.3);
    box-shadow: 0 20px 20px rgba(0,0,0, 0.4);
    border-radius: 5px;

}

.catalog-list li:hover  .goods-hover  a {
    text-decoration: none;

}

.catalog-list li:hover .btn {
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 60%;
}


.features {
    margin-bottom: 40px;
    background: #ffffff url("../img/background-features.jpg") repeat;
    border-radius: 15px;
    padding: 25px 18px;

}

.features-item {
    position: relative;
    float: left;
    width: 486px; /*width: 483px; margin-right: 13px;*/
    margin-top: 12px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    padding-left: 56px;
    padding-top: 15px;
    margin-right: 26px;
}

.features .icon2,
.features .icon4 {
    margin-right: 0;
}


.features-item::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 49px;
    height: 49px;
    background: url("../img/spritesheet.png") left;
    background-repeat: no-repeat;
    background-position: -197px -110px;
}



.icon1::before {
    background-position: -145px -20px;

}

.icon2::before {
    background-position: -20px -110px;
}

.icon3::before {
    background-position: -109px -110px;
}

.icon4::before {
    background-position: -197px -110px;
}



.about {
    margin-bottom: 35px;
}

.about-blog {
    float: left;
    margin-right: 26px;
    width: 520px;
    min-height: 174px;
    color: #5a5a5a;
    background: #ffffff url("../img/background-about.jpg") no-repeat 50%;
    border-radius: 15px;
    padding: 25px 20px

}

.about-blog a {
    display: inline-block;
    color: #000000;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 8px;
    text-decoration: none;
}

.distribution {
    float: left;
    width: 560px;

    background: #f8f7f4 url("../img/pattern.jpg") no-repeat;
    border-radius: 15px;
}

.distribution-content {
    min-height: 150px;
    padding: 30px 20px;
    background: #f8f7f4;
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
    margin: 5px;
    border-radius: 15px;
}

.distribution-content p{
    margin: 0;
    padding: 0;
    margin-bottom: 37px;
}


.distribution-form {

    padding: 0;
    font-size: 0;
    vertical-align: middle;
}

.distribution-form input[type="text"] {
    display: inline-block;
    min-height: 41px;
    width: 69%;
    outline: none;
    border: 1px solid rgba(178, 178, 178, 0.5);
    border-radius: 3px;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    box-shadow: none;
    padding-left: 10px;
    margin-right: 10px;

}

.distribution-form input[type=submit] {
    display: inline-block;
    outline: none;
    border: 0;
    padding: 10px 20px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
}


.contacts-content {
    position: relative;
    margin-bottom: 20px;
    margin-left: -27px;
}

.contacts-form {
    position: absolute;
    width: 253px;
    right: 27px;
    top: 66px;
    background: #ffffff;
    padding: 30px 25px;
    border-radius: 15px;
}

.contacts-form p {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #343434;
}

.contacts-form .contacts-bold {
    color: #000000;
    font-weight: bolder;
    font-size: 18px;
    line-height: 24px;
}

.contacts-form .btn {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin: 25px auto;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 24px;
    text-align: center;
}


/* форма обратной связи в body */

.popup-feedback {
    display: none;
}

.popup-feedback-show {
    display: block;
}

.popup-feedback {
    position: fixed;
    left: 50%;
    top: 38%;
    z-index: 20;
    margin-left: -213px;
    width: 426px;
    min-height: 185px;
	padding: 20px 25px;
	padding-bottom: 65px;
	
    background: #f8f7f4;
    border-radius: 9px;
       
    font-size: 0;
}

.popup-feedback form {
    font-size: 0;
}

.popup-feedback h3 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #343434;
    line-height: 26px;
    text-align: left;

}

.popup-feedback textarea {
	display: block;
    margin: 0 auto;
	padding: 10px 20px;
	width: 100%;
	box-sizing: border-box;

    font-family: "Roboto", "Arial", sans-serif;
   	vertical-align: middle;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: #656565;
	
    margin-bottom: 20px;
    border-radius: 6px;
	outline: none;
    border: 1px solid rgba(178, 178, 178, 0.5);
}

.input-field {
    display: inline-block;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 9px 20px;
	
    vertical-align: middle;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: #656565;
    
	background: #ffffff;
    border-radius: 6px;
	outline: none;
    border: 1px solid rgba(178, 178, 178, 0.5);
}

.popup-feedback .btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
	padding: 10px 20px;
	
	
    border: none;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.popup-feedback .form-close {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 24px;
	height: 24px;
	background: transparent;
	
}

.form-close::after,
.form-close::before {
	display: block;
	content: "";
	position: absolute;
	right: 8px;
	bottom: 3px;
	
	width: 2px;
	height: 24px;
	background: #000000;
	
}

.form-close::after {
	transform: rotate(45deg);
}

.form-close::before {
	transform: rotate(-45deg);
}

/* конец формы связи, не видна в главном меню*/

.popup-login {
	display: none;
}

.login:hover .popup-login {
	display: block;
	position: absolute;
	right: 150px;
	top: 59px;
	z-index: 30;
	width: 242px;
	min-height: 141px;
	padding: 15px 15px;
	padding-top: 20px;
	
	background: #f8f7f4;
	border-radius: 7px;
	
	font-size: 0;
}

.popup-login .input-field {
	font-size: 14px;
	line-height: 18px;
}

.popup-login a {
	display: inline-block;
	margin-left: 115px;
	
	vertical-align: middle;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.popup-login .btn {
	position: absolute;
	display: inline-block;
	bottom: 20px;
    left: 20px;	
}



.popup-basket {
	display: none;
}

.popup-basket {
	position: absolute;
	z-index: 40;
	right: 30px;
	top: 59px;
	width: 498px;
	min-height: 200px;
	padding: 15px 20px;
	padding-bottom: 55px;
	padding-top: 25px;
	
	background: #f8f7f4;
	border-radius: 7px;
}

.popup-basket table {
	width: 100%;
	box-sizing:border-box;
	
}

.popup-basket tr {
	position: relative;
	display: inline-block;
}

.popup-basket td {
	display: inline-block;
	padding: 18px 10px;
	vertical-align: top;
	line-height: 18px;
	font-size: 13px;
	text-align: left; 
	color: #000000;
}

.popup-basket td:first-child {
	position: relative;
	width: 218px;
	padding-left: 65px;
}

.popup-basket td:first-child::before {
	position: absolute;
	content: "";
	width: 32px;
	height: 32px;
	left: 24px;
	top: 10px;
}

.popup-basket tr:first-child td:first-child::before {
	background: url("../img/shop-goods1.jpg") no-repeat center;
	border-radius: 50%;
	background-size: cover;
}

.popup-basket tr:nth-child(2) td:first-child::before {
	background: url("../img/shop-goods3.jpg") no-repeat center;
	border-radius: 50%;
	background-size: cover;
}



.basket-delete {
	position: absolute;
	display: inline-block;
	left: 0;
	top: 21px;
	width: 11px;
	height: 11px;
}

.basket-delete::before,
.basket-delete::after {
	position: absolute;
	content: "";
	top: 1px;
	left: 5px;
	width: 1px;
	height: 10px;
	background: #6c6c6b;
}

.basket-delete::before {
	transform: rotate(45deg);
}

.basket-delete::after {
	transform: rotate(-45deg);
}

.popup-basket td span {
	color: #d8d7d5;
}

.popup-basket tr:last-child {
	display: block;
}
.popup-basket th {
	display: block;
	width: 100%;
	padding: 13px 10px;
	text-align: right;
	border-top: 1px solid #cacac7;
}

.popup-basket .btn {
	position: absolute;
	right: 15px;
	bottom: 20px;
}


/*********** */

.main-footer {
    padding-bottom: 20px;
}

.social-footer {
    float: left;
    width: 267px;
    margin-right: 26px;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: left;
}

.social-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 12px;
    margin-left: 0;
    background: url("../img/spritesheets.png") no-repeat center;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    border: 3px solid #c2cec7;
    border-radius: 50%;
    opacity: 0.8;
}

.social-btn-tw {
    background-position: -1px -653px;
}

.social-btn-ins {
    background-position: -1px -602px;
}

.social-btn-fb {
    background-position: -1px -549px;
}

.social-btn-vk {
    background-position: -1px -705px;
}

.social-btn-tw:hover,
.social-btn-ins:hover,
.social-btn-fb:hover,
.social-btn-vk:hover {
    opacity: 1;
    border: 3px solid #dbe3de;
}

.social-btn-tw:active,
.social-btn-ins:active,
.social-btn-fb:active,
.social-btn-vk:active {
    opacity: 0.9;
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.5)
}

.about-footer {
    width: 560px;
    float: left;
    margin-right: 26px;
}

.about-footer ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    margin-top: 16px;
}

.about-footer .footer-menu-left {
    font-size: 13px;
    margin-left: 107px;

}

.about-footer .footer-menu-right {
    font-size: 13px;
    width: 203px;

}

.about-footer ul a {
    display: block;
    color: #ffffff;
    font-size: 13px;
    line-height: 18px;
    padding-top: 3px;
    padding-left: 22px;
}

.about-footer ul a:hover {
    color: #ffbc9e;
}

.about-footer ul a:active{
    color: #ffbc9e;
}

.footer-menu-left li:first-child a {
    position: relative;
}

.footer-menu-left li:first-child a::before {
    content: "";
    position: absolute;
    display: block;
    top: 4px;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    background: url("../img/spritesheet.png") center;
    background-repeat: no-repeat;
    background-position: -20px -18px;
}
/*url{"../img/spritesheet.png") */


.footer-copyright {
    float: right;
    width: 237px;
    margin-top: 20px;
    margin-left: 30px;



}
/* можно переделать под позицтонирование  */
.footer-copyright > a {
    display: block;
    margin-bottom: 7px;

}

.footer-copyright p {
    margin:0;

    font-size: 12px;
    color: #ffffff;
    line-height: 16px;
    text-align: left;
}

.footer-copyright p a {
    color: #ffffff;
    font-size: 12px;
    line-height: 16px;
}

.footer-copyright p a:hover {
    color: #ffbc9e;
}

.footer-copyright p a:active {
    color: #ffbc9e;
}


/*  стили для catalog */
.catalog-content {
    margin-bottom: 40px;
}



.breadcrumbs ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 9px;

    font-size: 0;
}

.breadcrumbs li {
    position: relative;
    display: inline;
    padding-right: 20px;


    font-size: 14px;
    color: #ffffff;
    line-height: 18px;
    vertical-align: top;
    text-align: left;

}

.breadcrumbs a {
    color: #ffffff;
}

.breadcrumbs li::after {
    position: absolute;
    content: "\00bb";
    right: 10px;

    vertical-align: top;
    text-align: right;
}

.breadcrumbs li:last-child::after {
    display: none;
}

.catalog-content h1 {
    margin: 0;
    margin-bottom: 25px;

    font-size: 35px;
    line-height: 37px;
    color: #ffffff;
    font-weight: 700;
}

.catalog-form {
    margin-bottom: 25px;
}

.catalog-form > div {
	display: inline-block;
	font-size: 0;
	vertical-align: top;
}


.filter-title,
.price-range {
	font-size: 14px;
	line-height: 18px; 
    color: #ffffff;
    text-align: left;
	font-weight: 500;
	
	padding-left: 15px;
}

.filter select {
    border: none;
    font-size: 16px;
    line-height: 21px;
}

.filter select option {
    font-size: 16px;
    line-height: 21px;
    font-family: "Roboto", "Arial", sans-serif;
    background: #a9bab0;
}

.filter {
    margin: 0;
    margin-top: 3px;
	margin-right: 15px;
	margin-bottom: 13px;
    padding: 7px 15px;
    
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-transform: lowercase;
	text-align: left;
	vertical-align: bottom;
	
	background: rgba(169, 185, 175, 0.8);
    border-radius: 20px;
    border: none;
}

.filter input[type="range"] {
    margin: 0;
}

.value-radio input[type="radio"] {
	display: none;
}

.value-radio,
.value-checkbox {
	position: relative;
	display: inline-block;
	padding: 0 20px;
	padding-left: 32px;

    cursor: pointer;
}

.value-radio:last-child {
	padding-right: 0;
}

.value-radio input[type="radio"] + .radio-custom {
	position: absolute;
	display: block;
	width: 18px;
	height: 18px;
	left: 0;
	top: 0;
	
	border: 1px solid #f8f7f4;
	border-radius: 50%;
}

.value-radio input[type="radio"]:checked + .radio-custom::before {
    position: absolute;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -6px;

    border-radius: 50%;
    background: #f8f7f4;
}

.value-checkbox input[type="checkbox"] {
    display: none;
}

.value-checkbox input[type="checkbox"] + .checkbox-custom {
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    left: 0;
    bottom: 0;

    border-radius: 15%;
    border: 1px solid #ffffff;
}

.value-checkbox input[type="checkbox"]:checked + .checkbox-custom::before {
    position: absolute;
    display: block;
    content: "";
    width: 2px;
    height: 7px;
    left: 4px;
    top: 7px;

    background: #ffffff;
    transform: rotate(-45deg);
}

.value-checkbox input[type="checkbox"]:checked + .checkbox-custom::after {
    position: absolute;
    display: block;
    content: "";
    width: 2px;
    height: 12px;
    right: 6px;
    top: 3px;

    background: #ffffff;
    transform: rotate(45deg);
 }

.value-radio input[type="radio"] + .radio-custom:hover,
.value-checkbox input[type="checkbox"] + .checkbox-custom:hover {
    border: 2px solid #f8f7f4;
    width: 16px;
    height: 16px;
}

.value-checkbox input[type="checkbox"]:checked:hover + .checkbox-custom::before {
    left: 3px;
    top: 6px;
}

.value-checkbox input[type="checkbox"]:checked:hover + .checkbox-custom::after {
    right: 5px;
    top: 2px;
}

.value-radio input[type="radio"]:disabled + .radio-custom,
.value-checkbox input[type="checkbox"]:disabled + .checkbox-custom {
    opacity: 0.4;
}

.btn-form {
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 13px;
    outline: none;
    padding: 5px 25px;

    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    vertical-align: bottom;

    border: 2px solid #ffffff;
    background: rgba(169, 185, 175, 0.8);
    border-radius: 20px;
}

.btn-form:hover {
    background: #fafbfb;
    color: #000000;
    border: 2px solid #fafbfb;
}

.btn-form:active {
    padding: 7px 27px;

    background: #eaeaea;
    border: none;
    box-shadow: inset 0 1px 2px #696969;
}























.paginator {
    float: right;
    vertical-align: top;

}

.paginator a {
    display: inline-block;
    min-width: 26px;
    height: 26px;
    margin-right: 2px;

    font-size: 16px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    color: #ffffff;

    border-radius: 50%;


}

.paginator .current {
    background: #ffffff;
    color: #000000;
}

.paginator a:hover {
    background: rgb(157, 177, 165);
    color: #ffffff;
}

.paginator a:active {
    background: #ffffff;
    color: #000000;
}

.paginator .prev {
    text-indent: -1000000px;
    background-image: url("../img/spritesheets.png");
    background-repeat: no-repeat;
    background-position: 0 -806px;
}

.paginator .disabled {
    opacity: 0.2;
}

.paginator .next {
    text-indent: -1000000px;
    margin-right: 0;
    background-image: url("../img/spritesheets.png");
    background-repeat: no-repeat;
    background-position: 10px -839px;
}

.paginator .next:hover,
.paginator .prev:hover {
    background-color: transparent;
}