
body {
	background:#849d8f url("../img/background-image1.jpg") no-repeat 50% 0;
	width: 1200px;
    margin: 0 auto;

}

.container {
	width: 1146px;
	margin: 0 auto;
    padding: 0 27px;
}

.clearfix::after {
	display: table;
	content: "";
	clear: both;
}

.main-header{
	margin-bottom: 530px;
	
}

.logo-header{
	width: 154px;
	float: left;
    margin-top: 10px;

}

.main-nav {
	float: left;
	min-width: 616px;
    margin-left: 23px;
    margin-top: 24px;

}

.main-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-menu > li {
	display: inline-block;
    position: relative;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    line-height: 22px;
    vertical-align: top;
}

.main-nav a {
	display: block;
    padding: 5px 14px;
    text-decoration-color: #ffffff;
    color: #ffffff;
}

.main-menu > li > a:hover {
    background: #f7f6f2;
    color: #000000;
    text-decoration: none;
    border-radius: 16px;
}

.main-nav .sub-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 145px;
    bottom: -187px;
    left: -2px;
    color: #000000;
    padding-top: 6px;


}

.main-nav .sub-menu {
    display: none;
}

.main-menu > li:hover .sub-menu {
    display: block;
}

.main-nav .sub-menu li:first-child {
    border-radius: 6px 6px 0 0;
}

.main-nav .sub-menu li:last-child {
    border-radius: 0 0 6px 6px;
}

.main-nav .sub-menu li {
    margin: 0;
    color: #000000;
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    background: #ffffff;
}


.main-nav .sub-menu a {
    margin: 0 7px;
    padding: 9px 14px;
    padding-right: 0;
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
}

.main-nav .sub-menu li:first-child a {
    border-bottom: 1px solid #343434;
    font-weight: bold;
}


.main-menu .sub-menu  li:hover {
    background: #fbded7;
    color: #000000;
    text-decoration: none;
    border-radius: 0;
}

.main-nav .sub-menu li:first-child:hover {
    border-radius: 6px 6px 0 0;
}

.main-nav .sub-menu li:last-child:hover {
    border-radius: 0 0 6px 6px;
}

.main-menu .sub-menu  li:active {
    background: #f6b5a5;
}

.main-menu .sub-menu .active {
    background: #f6b5a5;
}

.user-block {
	float: right;
	margin-top: 24px;
}

.user-block a {

}

.user-block .contacts {
    margin-top: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-align: right;
}

.user-block .contacts-phone {
    font-size: 22px;

}

.offers {
	margin-bottom: 35px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 18px;
    line-height: 24px;

}
/*офферы лучше переделать одним классом, чтобы было удобно размещать сразу все элементы и не дублировать на 2 */
.offers-left {
	float: left;
	width: 530px;
    padding: 15px;
    margin-right: 26px;
    background: #fecbe0 url("../img/offers-image1.jpg") no-repeat;
    border-radius: 15px;
}

.offers-right {
    float: left;
    width: 530px;
    padding: 15px;
    background: #3c241a url("../img/offers-image2.jpg") no-repeat;
    border-radius: 15px;
}

.offers h3 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    text-align: left;
}

.hits {
	margin-bottom: 40px;
}

.hits-item {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.hits-item li{
	display: inline-block;
	width: 267px;
    /*background: #cff6e1;*/
    margin-right: 26px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
}

.hits-item li:last-child {
    margin-right: 0;

}

.features {
	margin-bottom: 40px;
    background: #ffffff url("../img/background-features.jpg") repeat;
    border-radius: 15px;
    padding: 25px 18px;

}

.features-item {
    position: relative;
	float: left;
   	width: 486px; /*width: 483px; margin-right: 13px;*/
	margin-top: 12px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
	padding-left: 56px;
	padding-top: 15px;
	margin-right: 26px;
}

.features .icon2,
.features .icon4 {
	margin-right: 0;
}

/*.features-item p {
    margin: 0;
    
    margin-left: 56px;
    padding-top: 15px;
}*/

.features-item::before {
    position: absolute;
	display: block;
    top: 0px;
    left: 0px;
    content: "";
    width: 49px;
    height: 49px;
    background: url("../img/spritesheet.png") left;
	background-repeat: no-repeat;
	background-position: -197px -110px;
	}

/* спрайты  */

.icon1::before {
    background-position: -145px -20px;
	
}

.icon2::before {
    background-position: -20px -110px;
}

.icon3::before {
    background-position: -109px -110px;
}

.icon4::before {
    background-position: -197px -110px;
}



.about {
	margin-bottom: 35px;
}

.about-blog {
	float: left;
    margin-right: 26px;
	width: 520px;
    min-height: 174px;
    color: #5a5a5a;
    background: #ffffff url("../img/background-about.jpg") no-repeat 50%;
    border-radius: 15px;
    padding: 25px 20px

}

.about-blog a {
    display: inline-block;
    color: #000000;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 8px;
    text-decoration: none;
}

.distribution {
	float: left;
    width: 560px;

    background: #f8f7f4 url("../img/pattern.jpg") no-repeat;
    border-radius: 15px;
}

.distribution-content {
    min-height: 150px;
    padding: 30px 20px;
    background: #f8f7f4;
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
    margin: 5px;
    border-radius: 15px;
}

.distribution-content p{
    margin: 0;
    padding: 0;
    margin-bottom: 37px;
}

.contacts-content {
	position: relative;
    margin-bottom: 20px;
}

.contacts-form {
    position: absolute;
    width: 253px;
    right: 27px;
    top: 66px;
    background: #ffffff;
    font-size: 14px;
    line-height: 20px;
    color: #343434;
    padding: 30px 25px;
    border-radius: 15px;
}

.contacts-form p {
    padding: 0;
    margin: 0;
    color: #000000;
    font-weight: bolder;
    font-size: 18px;
    line-height: 24px;
    padding-right: 20px;
}

.social-footer {
    float: left;
    width: 267px;
    margin-right: 26px;
	margin-top: 15px;
    margin-bottom: 25px;
	text-align: center;
}

.social-btn {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0 12px;
	background: #c2cec7 url("../img/spritesheet.png") no-repeat center;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	border: 3px solid #c2cec7;
	border-radius: 18px;
	
}

.social-btn-tw {
	background-position: -235px -20px;
}

.social-btn-ins {
	background-position: -213px -198px;
}

.social-btn-fb {
	background-position: -141px -198px;
}

.social-btn-vk {
	background-position: -284px -92px;
}

.about-footer {
    width: 560px;
    float: left;
    margin-right: 26px;
}

.about-footer ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	margin-top: 16px;
}

.about-footer .footer-menu-left {
	font-size: 13px;
	margin-left: 107px;
	
}

.about-footer .footer-menu-right {
	font-size: 13px;
	width: 183px;
	
}

.about-footer ul a {
	display: block;
	color: #ffffff;
	font-size: 13px;
	line-height: 18px;
	padding-top: 3px;
	padding-left: 22px;
}



.footer-menu-left li:first-child a {
	position: relative;
}

.footer-menu-left li:first-child a::before {
	content: "";
	position: absolute;
    display: block;
	top: 4px;
	left: 0px;
	width: 15px;
	height: 15px;
	background-color: #ffffff;
    background: url("../img/spritesheet.png") center;
    background-repeat: no-repeat;
    background-position: -20px -18px;
}
/*url{"../img/spritesheet.png") */




.footer-copyright {
    float: right;
    width: 267px;
	

}
/* можно переделать под позицтонирование  */
.footer-copyright > a {
	display: block;
	margin-bottom: 9px;
	margin-left: 79px;
}

.footer-copyright p {
	margin:0;
	padding: 0;
	font-size: 12px;
	color: #ffffff;
	line-height: 16px;
	text-align: right;
}

.footer-copyright p a {
	font-size: 12px;
	color: #ffffff;
	line-height: 16px;
	
}